<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>查询</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- jQuery -->
	<script src="//cdn.bootcss.com/jquery/3.0.0/core.js"></script>
	<!-- Font Awesome -->
	<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	#github,#blog,#blankspace{
		float:left;
		display:inline;
	}
	</style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mashaz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Search<span class="sr-only">(current)</span></a></li>
        <li><a href="/analysis">Analysis</a></li>
        <li><a href="https://github.com/mashaz" target="view_window">Github</a></li>
         <li><a href="https://mashaz.github.io" target="view_window">Blog</a></li>
        
      </ul>
    
      <ul class="nav navbar-nav navbar-right">
        <!--nav尾部-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<br><br>
	<br><br><br><br><br><br><br><br>
	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<!-- <h1>Analysis</h1> -->
							
							<div class="row">
								<form class="form-inline" id="fh5co-header-subscribe"  action='/search' method='get' >
									<div class="col-md-12 col-md-offset-0">
										<div class="form-group">
											<input type="text" class="form-control" id="username" placeholder="输入用户名" name="username" />
											<br>
											<br>
											 <div class="checkbox">
   											 <label>
  										    <input type="checkbox" id='isall' name='isall'> 查询所有
    										</label>
  											</div>
											
											 
											<!-- <input type="text" class="form-control" id="username2" placeholder="输入用户名2" name="username2" > -->
											<br><br>
											<button type="submit" class="btn btn-primary" >查询</button>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
	

</body>
</html>

